.header__logo {
    max-width: 142px;
    margin-bottom: 41px;
}

@media (max-width: 915px) {
    .header__logo {
      margin-left: 27px;
    }
  }
  
  @media (max-width: 425px) {
    .header__logo {
      max-width: 104px;
      max-height: 24px;
    }
  }