.profile__name {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    align-self: center;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 657px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}
