.profile__subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    align-self: flex-end;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 657px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        align-self: center;
        grid-column: 1/3;
    }
}
