.footer__copyright {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin-top: 67px;
    margin-bottom: 60px;
}

@media (max-width: 657px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}