.popup__title_type_info {
    text-align: center;
    margin-left: 0;
    width: 358px;
    align-self: center;
    margin-bottom: 60px;
    margin-top: 32px;
}




@media (max-width: 500px){
    .popup__title_type_info{
        width: 80%;
    }}