.popup__subtitle {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: white;
    align-self: flex-start;
    margin-top: 10px;

}

