.sign-up__save-button{
    margin-top: 186px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    height: 50px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}



@media (max-width: 500px){
    .sign-up__save-button{
        margin-top: 130px;
    }}