@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/root/root.css);
@import url(./blocks/root/__header/root__header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/root/__profile/root__profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__info-container/profile__info-container.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_job.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__form-info/popup__form-info.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/root/__photo-grid/root__photo-grid.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/photo-grid/__item/photo-grid__item.css);
@import url(./blocks/photo-grid/__title-container/photo-grid__title-container.css);
@import url(./blocks/photo-grid/__title/photo-grid__title.css);
@import url(./blocks/photo-grid/__like/photo-grid__like.css);
@import url(./blocks/photo-grid/__like/_active/photo-grid__like_active.css);
@import url(./blocks/photo-grid/__pic/photo-grid__pic.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/_type/popup_type_edit.css);
@import url(./blocks/popup/_type/popup_type_new-card.css);
@import url(./blocks/popup/_type/popup_type_pic.css);
@import url(./blocks/popup/__close-button/_type/popup__close-button_type_edit.css);
@import url(./blocks/popup/__close-button/_type/popup__close-button_type_new-card.css);
@import url(./blocks/popup/__form-info/_type/popup__form-info_type_edit.css);
@import url(./blocks/popup/__form-info/_type/popup__form-info_type_new-card.css);
@import url(./blocks/popup/__input/_type/popup__input_type_placename.css);
@import url(./blocks/popup/__input/_type/popup__input_type_url.css);
@import url(./blocks/popup/__save-button/_type/popup__save-button_type_edit.css);
@import url(./blocks/popup/__save-button/_type/popup__save-button_type_new-card.css);
@import url(./blocks/template/template.css);
@import url(./blocks/photo-grid/__delete-button/photo-grid__delete-button.css);
@import url(./blocks/popup/_type/popup_type_confirm.css);
@import url(./blocks/popup/__container/_type/popup__container_type_confirm.css);
@import url(./blocks/popup/__close-button/_type/popup__close-button_type_pic.css);
@import url(./blocks/popup/__container/_type/popup__container_type_pic.css);
@import url(./blocks/popup/__pic/popup__pic.css);
@import url(./blocks/popup/__subtitle/popup__subtitle.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__container/_type/popup__container_type_form.css);
@import url(./blocks/popup/__error/_active/popup__error_active.css);
@import url(./blocks/popup/__save-button/_inactive/popup__save-button_inactive.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/photo-grid/__like-number/photo-grid__like-number.css);
@import url(./blocks/photo-grid/__like-container/photo-grid__like-container.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirm.css);
@import url(./blocks/popup/__save-button/_type/popup__save-button_type_confirm.css);
@import url(./blocks/profile/__avatar-edit-button/pofile__avatar-edit-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/popup/__input/_type/popup__input_type_avatar.css);
@import url(./blocks/photo-grid/delete-button-enable/photo-grid__delete-button-enable.css);
@import url(./blocks/photo-grid/__delete-button-remove/photo-grid__delete-button-remove.css);
@import url(./blocks/sign-up/sign-up.css);
@import url(./blocks/sign-up/__container/sign-up__container.css);
@import url(./blocks/sign-up/__form/sign-up__form.css);
@import url(./blocks/sign-up/__input/sign-up__input.css);
@import url(./blocks/sign-up/__input/_type/sign-up__input_type_email.css);
@import url(./blocks/sign-up/__input/_type/sign-up__input_type_password.css);
@import url(./blocks/sign-up/__link/sign-up__link.css);
@import url(./blocks/sign-up/__save-button/sign-up__save-button.css);
@import url(./blocks/sign-up/__title/sign-up__title.css);
@import url(./blocks/sign-up/__subtitle/sign-up__subtitle.css);
@import url(./blocks/sign-up/__subtitle-container/sign-up__subtitle-container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_info.css);
@import url(./blocks/popup/__title/_type/popup__title_type_info.css);
@import url(./blocks/popup/__info-image/popup__info-image.css);
@import url(./blocks/header/__info/header__info.css)