.header {
    max-width: 880px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(229, 229, 229, 0.3);
    box-sizing: border-box;
    justify-content:space-between;
}


@media (max-width: 550px) {
    .header {
        flex-direction: column;
    }
}


@media (max-width: 425px) {
    .header {
        max-width: 100%;
        
    }
}